{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CelestialUI Admin</title>
  <link rel="stylesheet" href="{% static 'main/vendors/typicons.font/font/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'main/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/vertical-layout-light/style.css' %}">
  <link rel="shortcut icon" href="{% static 'main/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-6 mx-auto">


            
 
                     
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'main/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'main/js/off-canvas.js' %}"></script>
  <script src="{% static 'main/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'main/js/template.js' %}"></script>
  <script src="{% static 'main/js/settings.js' %}"></script>
  <script src="{% static 'main/js/todolist.js' %}"></script>
</body>
</html>