{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CelestialUI Admin</title>
  <link rel="stylesheet" href="{% static 'main/vendors/typicons.font/font/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'main/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/vertical-layout-light/style.css' %}">
  <link rel="shortcut icon" href="{% static 'main/images/favicon.png' %}" />
</head>

<body>


  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
     
          <div class="col-lg-4 mx-auto">
            <div class="card">
              <div class="card-header">Catalogos</div>
              <div class="card-body">
                <iframe width="100%" height="600" src="https://lookerstudio.google.com/embed/reporting/bca0ffd8-b45a-47ac-a144-897ddaba82b9/page/jpsuD" frameborder="0" style="border:0" ></iframe>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mx-auto">
            <div class="card">
              <div class="card-header">Error log</div>
              <div class="card-body">
                <iframe width="100%" height="600" src="https://lookerstudio.google.com/embed/reporting/0182df64-8888-4f08-947d-96c279e4a6e9/page/IFxuD" frameborder="0" style="border:0; overflow:hidden;" scrolling="no"></iframe>
              </div>
            </div>
          </div>

 
          

      </div>
    </div>
  </div>
  
  



  <script src="{% static 'main/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'main/js/off-canvas.js' %}"></script>
  <script src="{% static 'main/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'main/js/template.js' %}"></script>
  <script src="{% static 'main/js/settings.js' %}"></script>
  <script src="{% static 'main/js/todolist.js' %}"></script>

  <script src="{% static 'main/vendors/progressbar.js/progressbar.min.js' %}"></script>
  <script src="{% static 'main/vendors/chart.js/Chart.min.js' %}"></script>


  <script src="{% static 'main/js/dashboard.js' %}"></script>

 
</body>
</html>