{% load static %}
<!doctype html>
<html lang="es">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body class="img js-fullheight" style="background-image: url({% static 'main/images/bg.jpg' %});">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Bienvenido</h3>
                        <form id="login-form" method="post" class="signin-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <input id="username" name="username" type="text" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/popper.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#login-form').on('submit', function(e) {
                e.preventDefault();

                $.ajax({
                    url: '/api_login', // URL apunta al endpoint proxy de Django
                    type: 'POST',
                    data: {
                        'username': $('#username').val(),
                        'password': $('#password').val(),
                        'api_method': 'login'
                    },
                    success: function(data) {
                        if (data.status === 'success') {
                            window.location.href = '/home';  
                        } else {
                            alert('Login failed: ' + data.message);
                        }
                    },
                    error: function(xhr, status, error) {

                        if(xhr.status==428){
                            window.location.href = '/action/newuser/'+$('#username').val();  

                        }else{
                            var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'An error occurred';
                            alert(errorMessage);
                        }

                    }
                });
            });
        });
    </script>
</body>
</html>
