{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Crea menu</title>
  <link rel="stylesheet" href="{% static 'main/vendors/typicons.font/font/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'main/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/vertical-layout-light/style.css' %}">
  <link rel="shortcut icon" href="{% static 'main/images/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'main/css/loader.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/toasty.css' %}" />
  <script   src="{% static 'main/js/toasty.js' %}"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"/>
  <link rel="stylesheet" href="https://select2.github.io/select2-bootstrap-theme/css/select2-bootstrap.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
 
</head>

<body">
    <div class="myApp-notifications"></div>

    <div id="loader-wrapper">
        <div id="loader"></div>
      </div>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-6 mx-auto">
 
 
            
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="{% static 'main/js/loaders.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>


 
 </body>
</html>